<h1 class="title">{{ capitalizedName() }}</h1>

<dl class="content">
  <td>Nombre:</td>
  <dd>{{ capitalizedName() }}</dd>

  <td>Edad:</td>
  <dd>{{ age() }}</dd>

  <td>Método:</td>
  <dd>{{ heroDescription() }}</dd>

  <td>Capitalizado:</td>
  <!-- ! Intentar  -->
  <!-- <dd> {{ 'Mostrar nombre TODO EN MAYÚSCULAS' }} </dd> -->
   <!-- {{ capitalizedName() }} -->
     {{ name() | uppercase }} <!--Manejo de PIPES en Angular -->
</dl>

<div class="buttons-content">
      <button (click)="changeHero()" class="btn btn-primary mx-2">
        Cambiar nombre
      </button>
      
      <button (click)="changeAge()" class="btn btn-primary">Cambiar edad</button>
      
      <button (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>
</div>